#jinja2: lstrip_blocks: True

{% macro create_rule(name, ip, port, host, proto) -%}
{% set host = host if host else ip %}
{% set ip_cidr = ip if "/" in ip else ip + "/32" %}
{% set source = "-s " + ip_cidr if ip else "" %}
# {{ name }}: {{ proto }}:{{ port }} enabled for {{ host }}
-A INPUT {{ source }} -p {{ proto }} -m {{ proto }} --dport {{ port }} -j ACCEPT
{%- endmacro %}


*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# loopback
-A INPUT -i lo -j ACCEPT

# ping 
-A INPUT -p icmp -j ACCEPT


{% for rule, props in iptables_rules | dictsort %}
    {% set proto = props.proto if "proto" in props else 'tcp' %}
    {% if "at" not in props or (props.at in groups and ansible_hostname in groups[props.at]) %}
        {% if "public" in props and props.public  %}
            {{- create_rule(rule, '', props.port, "public", proto) }}
        {% else %}
            {% set hosts = [] %}
            {% for group in props.for %}
                {# inventory group name #}
                {% if group in groups %}
                    {% for host in groups[group] %}
                        {% if host not in hosts and host not in groups['mso_converter_small'] and host not in groups['mso_converter_large'] %}
                            {% set x = hosts.append(host) %}
                        {% endif %}
                    {% endfor %}
                {# ips is defined in roles/iptables/vars.yml #}
                {% elif group in ips %}
                    {% for ip in ips[group] %}
                        {{- create_rule(rule, ip, props.port, group, proto) }}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% for host in hosts|sort %}
                {{- create_rule(rule, hostvars[host]['ip'], props.port, host, proto) }}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endfor %}


# OUT rules
{% for rule in merged_iptables_output_rules %}
  {% set merged_hosts = [] %}
  {% for host in rule.destination_hosts | default([]) %}
    {{- merged_hosts.append(host) -}}
  {% endfor %}
  {% for group in rule.destination_groups | default([]) %}
    {% for host in groups[group] | default([]) %}
      {{- merged_hosts.append(host) -}}
    {% endfor %}
  {% endfor %}
  {% if merged_hosts|length > 0 %}
    {% for host in merged_hosts | sort %}
-A OUTPUT -p {{ rule.protocol | default("tcp")}} -d {{ host }} --dport {{ rule.port }} -j ACCEPT
    {% endfor %}
  {% else %}
-A OUTPUT -p {{ rule.protocol | default("tcp")}} --dport {{ rule.port }} -j ACCEPT
  {% endif %}
{% endfor %}

## drop all

-A INPUT -j DROP

COMMIT

