{% macro common(service) -%}
{% set inter = services[service].haproxy.inter if services[service].haproxy is defined and services[service].haproxy.inter|default(None) else "20s" %}
{{ "    option httpchk GET " + services[service].ping if services[service].ping else "" }}
{% if haproxy.server.httpclose and (services[service].haproxy is undefined or services[service].haproxy.httpclose|default(None) != false)  %}
    option forceclose
{% endif %}
{% if services[service].haproxy is defined and services[service].haproxy.timeout_server|default(None) %}
    timeout server {{ services[service].haproxy.timeout_server }}
{% endif %}
{% if services[service].haproxy is defined and services[service].haproxy.reqideny|default(None) %}
    reqideny {{ services[service].haproxy.reqideny }}
{% endif %}
{% if services[service].haproxy is defined and services[service].haproxy.forward_for|default(None) %}
    option forwardfor
{% endif %}
{% if services[service].haproxy is defined and services[service].haproxy.app_session|default(None) %}
    appsession {{ services[service].haproxy.app_session }} len 32 timeout 72h request-learn
{% endif %}
{% if services[service].haproxy is defined and services[service].haproxy.error_file|default(None) %}
    errorfile 503 /home/memsource/env/services/haproxy/{{ services[service].haproxy.error_file }}
{% endif %}
{% for host in groups[service] %}
{% set maxconn = hostvars[host][service + "_maxconn"] if hostvars[host][service + "_maxconn"]|default(None) else haproxy.server.maxconn %}
{% set weight = hostvars[host][service + "_weight"]|default("100") %}
{% set backup = "backup" if hostvars[host][service + "_backup"]|default(None) or (host not in groups["mso_converter_small"] and host not in groups["mso_converter_large"] and ((ansible_hostname in groups["dc1"] and host not in groups["dc1"]) or (ansible_hostname in groups["dc2"] and host not in groups["dc2"])) ) else "" %}
    server {{ host }} {{ host }}:{{ services[service].port }} weight {{ weight }} check inter {{ inter }} fastinter 5s rise 2 fall 2 maxconn {{ maxconn }} {{ backup }}
{% endfor %}
{%- endmacro %}

{% macro listen(service) -%}
listen {{ service }} *:{{ services[service].lb_port }}
{{ common(service) }}
{%- endmacro %}

{% macro backend(service) -%}
backend {{ service }}
{{ common(service) }}
{%- endmacro %}

{% macro frontend(service) -%}
frontend {{ service }}_fe *:{{ services.haproxy.frontend[service].port }}
{% if haproxy.frontend[service] is defined and haproxy.frontend[service].ssl|default(None) %}
    bind :443 ssl no-sslv3 crt /home/memsource/env/services/memsource.pem crt /home/memsource/env/services/haproxy/certs ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128:AES256:HIGH:!aNULL:!eNULL:!EXPORT:!RC4:!DES:!3DES:!MD5:!PSK
    http-request add-header X-Proto https if { ssl_fc }
{% endif %}
{% if haproxy.frontend[service] is defined and haproxy.frontend[service].maxconn|default(None) %}
    maxconn {{ haproxy.frontend[service].maxconn }}
{% endif %}
{% if services.haproxy.frontend[service] is defined and services.haproxy.frontend[service].log|default(None) %}
    log global
    option httplog
{% endif %}
{% if services.haproxy.frontend[service] is defined and services.haproxy.frontend[service].timeout_client|default(None) %}
    timeout client {{ services.haproxy.frontend[service].timeout_client }}
{% endif %}
{%- endmacro %}

global
    log /dev/log    local0 debug
    log /dev/log    local1 notice
    maxconn {{ haproxy.global.maxconn }}
    daemon
    stats socket /tmp/haproxy user memsource level admin
    tune.bufsize 524288
    {{ "tune.ssl.default-dh-param 4096" if haproxy.global.ssl else "" }}

defaults
    mode http
    retries 3
    option redispatch
    maxconn {{ haproxy.defaults.maxconn }}
    option tcp-smart-accept
    option tcp-smart-connect
    option tcpka
    timeout client 1m
    timeout connect 5s
    timeout server 60m
    timeout http-keep-alive 15s
    option log-health-checks
    balance leastconn
    timeout queue 1s
    
listen  stats 0.0.0.0:{{ services.haproxy.port }}
    balance
    stats enable
    stats auth memsource:tinroof

{{ listen("amediator") }}

{{ listen("converter2") }}

{{ listen("mtrans") }}

{{ listen("atrans") }}

{{ listen("termbase2") }}

{{ listen("transmem") }}

{{ listen("spellchecker") -}}
    timeout queue 10ms

{{ listen("autocomplete") }}

{{ frontend("web") -}}
    acl host_twe hdr_beg(Host) -i editor
    acl path_twe path_beg /twe
    use_backend twe if host_twe or path_twe
    default_backend web

{{ backend("web") }}

{{ backend("twe") }}

{{ frontend("mso_converter") -}}
    acl url_large url_sub large=true
    use_backend mso_converter_large if url_large
    default_backend mso_converter_small

{{ backend("mso_converter_small") }}

{{ backend("mso_converter_large") }}